*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.teacher{
    width: 100%;
    height: 90vh;
    background-color:  rgb(194, 120, 246);
}

.teacher h2{
    text-transform: uppercase;
    color: rgb(240, 14, 14);
    text-align: center;
    padding: 1rem 0;
    word-spacing: 0.5rem;
    font-size: 2.2rem;
}

.teacher h5{
    text-align: center;
    font-size: 1.8rem;
    color: rgb(91, 89, 89);
    padding-bottom: 1.5rem;
}

.teacher .teacherData{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.teacher .teacherData .teacherBox{
    width: 20rem;
    height: 30rem;
    box-shadow: 0 0 2rem 0 #000;
    border-radius: 1rem;
    background-color: #fff;
}

.teacher .teacherData .teacherBox .teacherImg{
    width: 15rem;
    height: 20rem;
    margin: 1.5rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 1rem 0 #000;
}

.teacher .teacherData .teacherBox h4{
    text-align: center;
    font-size: 1.4rem;
    color: rgb(240, 14, 14);
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.teacher .teacherData .teacherBox p{
    text-align: center;
    font-size: 1.15rem;
    font-weight: 600;
}

.teacher .teacherData .teacherBox .socialIcon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5rem 0 0.5rem 6.5rem;
    gap: 0.5rem;
}

.teacher .teacherData .teacherBox .socialIcon i{
    font-size: 1.4rem;
    color: rgb(240, 14, 14);
    cursor: pointer;
}

