<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <div class="about" id="about">
          <h2>{{title|uppercase}}</h2>
          <h5>{{subTitle}}</h5>
          <div class="aboutData">
             <div class="aboutLeft">
                <h3>Start Your Journey To a Better Life With Our Pratical Courses</h3>
                <p>Lorem ipsum,dolor sit amet consectetur adipisicing elit.Ullam ipsam nobis delectus soluta eius dignissimos officiis nulla quae similique vero quasi dolorum earum magni sed nesciunt quisquam,suscipit pariatur molestiae!</p>
                <a href="#" class="aboutBtn">Learn More</a>
             </div>
             <div class="aboutRight">
                 <img src="../assets/images/about-img.svg" class="aboutImg"/>
             </div>
          </div>
       </div>
</body>
</html>
