<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
</head>
<body>
      <div class="course" id="course">
        <h2>{{title}}</h2>
        <h5>Upgrade Your Skills With Newest Courses</h5>
         <div class="courseData">
            <div class="courseBox">
                <i class="fab fa-html5"></i>
                <h3>html 5</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
            </div>
            <div class="courseBox">
                <i class="fab fa-css3-alt"></i>
                <h3>Css 3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
            </div>
            <div class="courseBox">
                <i class="fab fa-js-square"></i>
                <h3>Javascript</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
            </div>
            <div class="courseBox">
                <i class="fas fa-code"></i>
                <h3>Web Development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
            </div>
            <div class="courseBox">
                <i class="fas fa-bullhorn"></i>
                <h3>Seo Marketing</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
            </div>
            <div class="courseBox">
                <i class="fas fa-paint-brush"></i>
                <h3>Graphic design</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
            </div>
         </div>
      </div>
</body>
</html>
